{% extends 'super/body_tienda.html' %}
{% load widget_tweaks %}

{% block body %}
<body class="js">
	<!-- Breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="bread-inner">
						<ul class="bread-list">
							<li><a href="{% url 'administrador:super_lista' %}">Volver a Tienda<i
									class="ti-arrow-right"></i></a></li>
							<li class="active"><a href="{% url 'administrador:cliente_crearSuper' %}">Perfil de
								usuario</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Breadcrumbs -->

	<!-- Start Contact -->
	<section id="contact-us" class="contact-us section">
		<div class="container">
			<div class="contact-head">
				<div class="row">
					<div class="col-lg-8 col-12">
						<div class="form-main">
							<div class="title">

								<h3>{{ texto }}</h3>
							</div>
							<form class="form" method="post" action=".">
								{% csrf_token %}
								<input type="hidden" name="action" value="{{ action }}">
								{% if form.errors %}
									<div class="alert alert-danger alert-dismissible">
										<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
										</button>
										<h5><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Ha ocurrido un
											error al guardar el registro
										</h5>
										<ul>
											{% for field in form %}
												{% for error in field.errors %}
													<li>{{ error }}</li>
												{% endfor %}
											{% endfor %}
										</ul>
									</div>
								{% endif %}
								<div class="row">
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<label>Nombre<span>*</span></label>
											{{ form.first_name }}
										</div>
									</div>
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<label>Apellidos<span>*</span></label>:
											{{ form.last_name }}
										</div>
									</div>
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<label>Dirección<span>*</span></label>
											{{ form.direccion }}
										</div>
									</div>
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<label>Localidad<span>*</span></label>
											{{ form.localidad }}
										</div>
									</div>
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<label>Teléfono<span>*</span></label>
											{{ form.telefono }}
										</div>
									</div>
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<label>Email<span>*</span></label>
											{{ form.email }}
										</div>
									</div>
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<label>Nombre de Usuario<span>*</span></label>
											{{ form.username }}
										</div>
									</div>
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<label>Password<span>*</span></label>
											{{ form.password}}
										</div>
									</div>
								</div>
								<br>
								<button type="submit" class="btn btn-primary btn-flat">
									<i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp; Guardar perfil
								</button>
							</form>
						</div>
					</div>
					<div class="col-lg-4 col-12">
						<div class="single-head">
							<div class="single-info">
								<i class="fa fa-phone"></i>
								<h4 class="title">Teléfono:</h4>
								<ul>
									<li>955997472</li>
								</ul>
							</div>
							<div class="single-info">
								<i class="fa fa-envelope-open"></i>
								<h4 class="title">Email:</h4>
								<ul>
									<li>famisuper@outlook.com</li>
								</ul>
							</div>
							<div class="single-info">
								<i class="fa fa-location-arrow"></i>
								<h4 class="title">Nuestra dirección:</h4>
								<ul>
									<li>C/ Manuel Gonzalez Rodriguez,14</li>
									<li>Santiponce (Sevilla)</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

{% endblock %}
