<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
	<div class="container d-flex justify-content-between">

		<div class="logo">
			<h1><a href="{{ indice }}" id="logo_sidebar">FAMISUPER</a></h1>
		</div>

		<nav id="navbar" class="navbar">
			<ul>
				<li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
				<li><a class="nav-link scrollto" href="#about">Sobre Nosotros</a></li>
				<li><a class="nav-link scrollto" href="#services">Servicios</a></li>
				<li><a class="nav-link scrollto" href="#contact">Contactos</a></li>
				<li>
					{% if request.user.is_authenticated %}
                        <a class="nav-link scrollto" href="{% url 'administrador:panel_control' %}">Bienvenido {{ request.user.username }}</a>
                    {% else %}
                       <a class="nav-link scrollto" href="{% url 'perfil:login' %}">Iniciar Sesión</a>
                    {% endif %}
				</li>
			</ul>
			<i class="bi bi-list mobile-nav-toggle"></i>
		</nav><!-- .navbar -->

	</div>
</header><!-- End Header -->