{% extends 'super/body_tienda.html' %}

{% load static %}

{% block body %}
	<link href="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet"/>
	<script src="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
	<script src="{% static 'super/js/form.js' %}"></script>

	<link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet' %}"/>
	<script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
	<script src="{% static 'js/functions.js' %}"></script>

	<!-- incluye el header -->
	{% include 'super/header.html' %}

	<body class="js">

	<!-- Product Style -->
	<section class="product-area shop-sidebar shop section" id="color_fondo">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4 col-12">

					<!--incluye el sidebar -->
					{% include 'super/sidebar.html' %}

				</div>
				<div class="col-lg-9 col-md-8 col-12">
					<div class="row">

						<!-- incluye los cards -->
						{% include 'super/cards.html' %}

					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/ End Product Style 1  -->

	<!-- Incluye el modal del producto-tienda -->
	{% include 'super/modal_super.html' %}
	<!-- Modal end -->
	</body>

{% endblock %}