{% load static %}

<!------ Footer ------->
<footer id="footer">
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-info">
						<h3>Famisuper</h3>
						<p>
							Calle Manuel Gonzalez Rodriguez, 14<br>
							<strong>Teléfono:</strong> 955997472<br>
							<strong>Email:</strong> famisuper@oulook.com<br>
						</p>
{#						<div class="social-links mt-3">#}
{#							<a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>#}
{#							<a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>#}
{#							<a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>#}
{#						</div>#}
					</div>
				</div>
				<div class="col-lg-2 col-md-6 footer-links">
					<h4>Links</h4>
					<ul>
						<li><i class="bx bx-chevron-right"></i> <a href="{% url 'administrador:super_lista' %}">Tienda</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="{% url 'administrador:oferta_lista' %}">Ofertas</a></li>
						<li><i class="bx bx-chevron-right"></i> <a href="{% url 'inicio' %}">Sobre nosotros</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 footer-links">
					<h4>Nuestros servicios</h4>
					<ul>
						<li><i class="bx bx-chevron-right"></i> <a>Compra sin tarjeta fácilmente</a></li>
						<li><i class="bx bx-chevron-right"></i> <a>Reparto a domicilio</a></li>
						<li><i class="bx bx-chevron-right"></i> <a>Atención personalizada</a></li>
						<li><i class="bx bx-chevron-right"></i> <a>Los mejores precios</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="container">
		<footer class="main-footer text-center" id="logo_footer">
			<a id="logo_footer">FAMISUPER</a><br>
		</footer>
	</div>
</footer>
<!-- End Footer -->