{% extends 'login/base.html' %}
{% load widget_tweaks %}

{% block content %}
	<div class="login-box">
	<div class="login-logo">
		<a href="{% url 'inicio' %}"><b>Famisuper</b></a>
	</div>
	<div class="card">
		<div class="card-body login-card-body">
			<p class="login-box-msg">Inicie sesión con sus credenciales</p>
			<form action="." method="post">
				<input type="hidden" name="next" value="{{ next }}">
				{% csrf_token %}
				<div class="input-group mb-3">
					{{ form.username|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:Introduzca su nombre de usuario' }}
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fas fa-envelope"></span>
						</div>
					</div>
				</div>
				<div class="input-group mb-3">
					{{ form.password|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:Introduzca su contraseña' }}
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fas fa-lock"></span>
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-lg-12">
						<button type="submit" class="btn btn-primary btn-block">
							<i class="fas fa-sign-in-alt"></i> Iniciar sesión
						</button>
					</div>
				</div>
				<br>
				<div class="col-lg-12">
					<p>
						<a href="{% url 'administrador:cliente_crearSuper' %}" class="text-center">
							Registrar nuevo usuario
						</a>
					</p>
					<p>
						<a href="{% url 'perfil:reset_contraseña' %}">
							¿Olvidaste la contraseña?
						</a>
					</p>
				</div>
			</form>
		</div>
	</div>
	<script type="application/javascript">
        {% if form.errors %}
            let errors = '';
            {% for field in form %}
                {% for error in field.errors %}
                    errors += '{{ error }}\n';
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                errors += '{{ error }}\n';
            {% endfor %}
            Swal.fire({
                title: 'Error!',
                text: errors,
                icon: 'error'
            });
        {% endif %}
	</script>
</div>
{% endblock %}