{% extends 'lista.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'gestiona_favoritos/js/lista.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 15%;">Código</th>
        <th scope="col" style="width: 25%;">Nombre</th>
        <th scope="col" style="width: 15%;">Categoría</th>
        <th scope="col" style="width: 15%;">Subcategoría</th>
        <th scope="col" style="width: 15%;">Total</th>
        <th scope="col" style="width: 15%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}